In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

# Basic information when using the datetime

In [3]:
my_year = 2020
my_month = 12
my_day = 12
my_hour = 2
my_minute = 30
my_second = 34

In [4]:
# datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])
#The year, month and day arguments are required. tzinfo may be None, or an
#instance of a tzinfo subclass. The remaining arguments may be ints.

mydate = datetime(my_year, my_month, my_day)

In [5]:
mydate

datetime.datetime(2020, 12, 12, 0, 0)

In [6]:
mydate = datetime(year=my_year, month=my_month, day=my_day, hour=my_hour, minute=my_minute, second=my_second)

In [7]:
mydate

datetime.datetime(2020, 12, 12, 2, 30, 34)

In [8]:
mydate.year

2020

In [9]:
mydate.month

12

# using datetime in Series, DataFrame

In [10]:
# pass list into new Series
my_time = pd.Series(data=['Nov 3, 1990', '2000-01-01', None])

In [11]:
my_time

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

* The code can't execute due to the string squence in the list
my_time.year => cause error => string not help the year function

In [12]:
# Fix the error above
# Convert the string in Series to Datetime
# Using the to_datetime
# arg: int, float, str, datetime, list, tuple, 1-d array, Series, DataFrame/dict-like
# the dtype= datetime64
time_year = pd.to_datetime(my_time)

In [13]:
# time_stamp calling out object (time_year[0])
time_year[0]

Timestamp('1990-11-03 00:00:00')

In [14]:
# call out the year
time_year[0].year

1990

# Different between the year in European and America time

In [15]:
# This is obvious European time
euro_time = '31-12-2020'

In [16]:
# convert euro date to datetime
pd.to_datetime(euro_time)

Timestamp('2020-12-31 00:00:00')

In [17]:
# some time the euro time could be misunderstand to america time
# the date flows the European time rule 10th December 2020
# however, somes mistake it with the America time rule October 12th 2020
euro_date = '10-12-2020'

In [18]:
euro_date

'10-12-2020'

In [19]:
# Change the America style into the European style
# using the dayfirst=
pd.to_datetime(euro_date, dayfirst=True)

Timestamp('2020-12-10 00:00:00')

* <b> Remember if the database contains mix of America and Europe style, it is the bad quality database - need to clean the data first </b>

# The difference of date style

In [20]:
# The time with different style
dif_date = '10--Dec--2013'

In [21]:
# Need to tell the pandas the format of datetime
pd.to_datetime(arg=dif_date, format="%d--%b--%Y")

Timestamp('2013-12-10 00:00:00')

In [22]:
# Custom style
custom_style = '10th November of 2021'

In [23]:
# The pandas is smart enough to understand this custom style
pd.to_datetime(custom_style)

Timestamp('2021-11-10 00:00:00')

# Utilize the datetime function in the real csv file

In [24]:
sales = pd.read_csv(r'C:\Users\admin\Desktop\Data Science\Course-2021\03-Pandas\RetailSales_BeerWineLiquor.csv')

In [25]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [26]:
sales['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [27]:
# change the columns in the DateFrame into Datetime
pd.to_datetime(sales['DATE'])

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [28]:
# change permanently to Datetime
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [29]:
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [30]:
# calling out the year
sales['DATE'][0].year

1992

In [39]:
# Read the column as a datetime column by using the read_csv
# the parse_date : bool or list of int or names or list of lists or dict
# The behavior is as follows:
# boolean. If True -> try parsing the index.
# list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.
# list of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.
sales = pd.read_csv(r'C:\Users\admin\Desktop\Data Science\Course-2021\03-Pandas\RetailSales_BeerWineLiquor.csv', parse_dates=['DATE'])

In [40]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [57]:
sales = sales.set_index('DATE')

In [58]:
sales

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

In [72]:
# Rule= :DateOffset, Timedelta or str - The offset string or object representing target conversion.
sales.resample(rule="A").mean()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [63]:
sales.resample(rule='W').sum()

            MRTSSM4453USN
DATE
1992-01-05           1509
1992-01-12              0
1992-01-19              0
1992-01-26              0
1992-02-02           1541
...                   ...
2020-03-08              0
2020-03-15              0
2020-03-22              0
2020-03-29              0
2020-04-05           5207

[1475 rows x 1 columns]

In [64]:
sales = pd.read_csv(r'C:\Users\admin\Desktop\Data Science\Course-2021\03-Pandas\RetailSales_BeerWineLiquor.csv', parse_dates=['DATE'])

In [65]:
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [66]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [71]:
sales['DATE'].dt.year

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int64

In [68]:
sales['DATE'].dt.month

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int64

In [69]:
sales['DATE'].dt.day

0      1
1      1
2      1
3      1
4      1
      ..
335    1
336    1
337    1
338    1
339    1
Name: DATE, Length: 340, dtype: int64