# Data Input and Output of CSV

* Pandas can read in data from a wide variety of sources and has excellent online documentation!
* Note!
    * You need to know the <b>exact</b> directory location and correct file name.
    * You may need passwords or permissions for certain data inputs (e.g. a SQL database password)
    * It almost impossible for us to help with datasets outside the course, since they could be incorrectly formatted, in the wrong location, or have a different name.
* Video Lectures:
    * CSV Files
    * HTML Tables
    * Excel Files
    * SQL Databases

In [51]:
import pandas as pd

In [52]:
# get path of .py file
import os
os.getcwd()

'C:\\Users\\admin\\Desktop\\Data Science\\Jupyter_Notebook'

In [53]:
# don't want first row is header
# use header=None
pd.read_csv(r'C:\\Users\\admin\\Desktop\\Data Science\\Course-2021\\\03-Pandas\\example.csv',header=None)

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [54]:
# Set index column
# use the first column as index
# read csv by pandas
df = pd.read_csv(r'C:\\Users\\admin\\Desktop\\Data Science\\Course-2021\\\03-Pandas\\example.csv', index_col=0)

In [55]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [56]:
# save this data_frame
# save the index use the 'index=True'
# write by dataframe
df.to_csv('C:\\Users\\admin\\Desktop\\newfile.csv', index=True)

In [57]:
# don't want to save index
df = pd.read_csv(r'C:\\Users\\admin\\Desktop\\Data Science\\Course-2021\\\03-Pandas\\example.csv')

df.to_csv('C:\\Users\\admin\\Desktop\\newfile.csv', index=False)

In [58]:
new = pd.read_csv(r'C:\\Users\\admin\\Desktop\\newfile.csv')

In [59]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# Data Input and Output of HTML Tables

* Websites display tabular information through the use of HTML tables tags:
    * <b>< table></b>
* Pandas has the ability to automatically convert these HTML tables into a DataFrame
* <i>Important Notes!</i>
    * Not every table in a website is available through HTML tables
    * Some websites may block your computer from scraping the HTML of the site through pandas
    * It may be more efficient to use an API
* Let's work through an example of grabbing all tables from a Wikipedia Article and then cleaning and organizing the information to get a DataFrame
* Output to an HTML table is also very useful to display tables on a website!

# conda install lxml
# pip install lxml
* convert xml table to a panda's data frame

In [60]:
import pandas as pd

In [61]:
# paste the link
url = 'https://en.wikipedia.org/wiki/World_population'

In [62]:
tables = pd.read_html(url)

In the case the url is not work => right mouse click => click view page source => move to the new html page => save as html file to your company

In [63]:
len(tables)

26

In [64]:
tables[0]

        World population (millions, UN estimates)[15]  \
                                                    #
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                NaN
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                      Top ten most populous countries
0                                            China[B]
1                                               India
2                                       United States
3                                           Indonesia
4                                            Pakistan
5                                              Brazil
6                                             Nigeria
7                                          Bangladesh
8                                              Russia
9                                              Mexico
10                                        World total
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2000
0                                                1270
1                                                1053
2                                                 283
3                                                 212
4                                                 136
5                                                 176
6                                                 123
7                                                 131
8                                                 146
9                                                 103
10                                               6127
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2015
0                                                1376
1                                                1311
2                                                 322
3                                                 258
4                                                 208
5                                                 206
6                                                 182
7                                                 161
8                                                 146
9                                                 127
10                                               7349
11  Notes: .mw-parser-output .reflist{font-size:90...


                                              2030[A]
0                                                1416
1                                                1528
2                                                 356
3                                                 295
4                                                 245
5                                                 228
6                                                 263
7                                                 186
8                                                 149
9                                                 148
10                                               8501
11  Notes: .mw-parser-output .reflist{font-size:90...

In [65]:
# multi level index
tables[0].columns

MultiIndex([('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...)],
           )

In [66]:
# clean up
world_topten = tables[0]

In [67]:
# grab the higher level of column
# return the low index column
world_topten = world_topten['World population (millions, UN estimates)[15]']

In [68]:
world_topten

,#,Top ten most populous countries,2000,2015,2030[A]
0,1,China[B],1270,1376,1416
1,2,India,1053,1311,1528
2,3,United States,283,322,356
3,4,Indonesia,212,258,295
4,5,Pakistan,136,208,245
5,6,Brazil,176,206,228
6,7,Nigeria,123,182,263
7,8,Bangladesh,131,161,186
8,9,Russia,146,146,149
9,10,Mexico,103,127,148
10,NaN,World total,6127,7349,8501
11,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [69]:
# Drop the row 11
world_topten = world_topten.drop(11, axis=0)

In [70]:
# drop the # column
world_topten = world_topten.drop("#",axis=1)

In [71]:
# change the column name
world_topten.columns = ['Country', '2000', '2015', '2030 Est.']

In [72]:
world_topten

          Country  2000  2015 2030 Est.
0        China[B]  1270  1376      1416
1           India  1053  1311      1528
2   United States   283   322       356
3       Indonesia   212   258       295
4        Pakistan   136   208       245
5          Brazil   176   206       228
6         Nigeria   123   182       263
7      Bangladesh   131   161       186
8          Russia   146   146       149
9          Mexico   103   127       148
10    World total  6127  7349      8501

In [73]:
tables[5].set_index('Rank')

          Country  Population  Area(km2)  Density(pop/km2)
Rank
1       Singapore     5704000        710              8033
2      Bangladesh   171790000     143998              1193
3       Palestine     5266785       6020               847
4         Lebanon     6856000      10452               656
5          Taiwan    23604000      36193               652
6     South Korea    51781000      99538               520
7          Rwanda    12374000      26338               470
8           Haiti    11578000      27065               428
9     Netherlands    17660000      41526               425
10         Israel     9440000      22072               428

In [74]:
# save the html
world_topten.to_html('sample_table.html', index=False)

# Data Input and Output Excel Files
* Pandas can read and write to Excel files.
* <i>Important Note!</i>
    * Pandas can only read and write in raw data, it is not able to read in macros, visualizations, or formulas created inside of spreadsheets
* Pandas treats an Excel Workbook as a dictionary, with the key being the sheet name and the value being the DataFrame representing the sheet itself.
* <i>Note! Using pandas with Excel requires additional libraries!</i>

In [75]:
import pandas as pd

In [83]:
# open follow the sheet name
df = pd.read_excel('C:\\Users\\admin\\Desktop\\Data Science\\Course-2021\\03-Pandas\\my_excel_file.xlsx', sheet_name='First_Sheet')

In [84]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [88]:
# list all the sheet name
# need to put the full path into the wb
wb = pd.ExcelFile('C:\\Users\\admin\\Desktop\\Data Science\\Course-2021\\03-Pandas\\my_excel_file.xlsx')

In [89]:
wb.sheet_names

['First_Sheet']

In [90]:
# read every sheet_name and return the dictionary
excel_sheet_dict = pd.read_excel(r'C:\\Users\\admin\\Desktop\\Data Science\\Course-2021\\03-Pandas\\my_excel_file.xlsx', sheet_name=None)

In [91]:
type(excel_sheet_dict)

dict

In [93]:
excel_sheet_dict.keys()

dict_keys(['First_Sheet'])

In [94]:
# the key is the sheet name
# the value is the data of First_Sheet
excel_sheet_dict['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [95]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [96]:
# write DataFrame
our_df = excel_sheet_dict['First_Sheet']

In [98]:
# if the file is already existed => find out the sheet_name and replace it
our_df.to_excel('example.xlsx', sheet_name='First_Sheet', index=False)

# Input and Output SQL Databases
* Pandas can read and write to various SQL engines through the use of a driver and the <b>sqlalchemy</b> python library.

* Step 1:
    * Figure out what SQL Engine you are connecting to, for just a few examples:
        * PostgreSQL
        * My SQL
        * MS SQL Server
* Step 2:
    * Install the appropriate Python driver library <i>(Most likely requires a Google Search)</i>:
        * PostgreSQL - <i>psycopg2</i>
        * MySQL - <i>pymysql</i>
        * MS SQL Server - <i>pyodbc</i>
* Step 3:
    * Use the sqlalchemy library to connect to your SQL database with the driver:
        * https://docs.sqlalchemy.org/en/14/dialects/index.html
* Step 4:
    * Use the sqlalchemy driver connection with pandas read sql method
    * Pandas can read in entire tables as a DataFrame or actual parse a SQL query through the connection:
        * SELECT * TABLE
* Google Search: Oracle SQL + Pandas

# Install sqlalchemy
* pip install sqlalchemy

In [4]:
import pandas as pd
import numpy as np

In [2]:
from sqlalchemy import create_engine

In [3]:
# create a temporary SQLite database inside of computer's ram
temp_db = create_engine('sqlite:///:memory:')

In [7]:
df = pd.DataFrame(data=np.random.randint(low=0, high=100, size=(4,4)), columns=['a', 'b', 'c', 'd'])

In [8]:
df

    a   b   c   d
0  26  14  17  17
1  30  31  39  13
2  64  51  81  59
3  63  14  60  40

In [35]:
# the name and con parameters allow you to check if table exists
# if exist, overwrite it
# need to be careful with the replace function
df.to_sql(name='new_table', con=temp_db, if_exists='replace', index=False)

In [36]:
# First way to read the sql data
new_df = pd.read_sql(sql='new_table', con=temp_db)

In [37]:
new_df

    a   b   c   d
0  26  14  17  17
1  30  31  39  13
2  64  51  81  59
3  63  14  60  40

In [38]:
# The second way to read the sqlite data
result = pd.read_sql_query(sql='SELECT * FROM new_table', con=temp_db)

In [39]:
result

    a   b   c   d
0  26  14  17  17
1  30  31  39  13
2  64  51  81  59
3  63  14  60  40