In [1]:
import pandas as pd
import numpy as np

In [3]:
# get path of .py file
# get path of current file
import os
os.getcwd()

'C:\\Users\\admin\\Desktop\\Data Science\\Jupyter_Notebook'

In [4]:
# don't want to use header
# use header = None
pd.read_csv(r'C:\Users\admin\Desktop\Data Science\Course-2021\03-Pandas\example.csv', header=None)

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [5]:
# Set index column
# Use the first column as index
# Read csv by pandas
df = pd.read_csv(r'C:\Users\admin\Desktop\Data Science\Course-2021\03-Pandas\example.csv', index_col=0)

In [6]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [7]:
# save this data_frame
# save index use the 'index=True'
# write by dataframe
df.to_csv(r'C:\Users\admin\Desktop\newfile_1.csv', index=True)

In [10]:
new = pd.read_csv(r'C:\Users\admin\Desktop\Data Science\Course-2021\03-Pandas\example.csv')

In [11]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# Data Input and Output of HTML Tables

In [12]:
import pandas as pd

In [13]:
# paste the link
url = 'https://en.wikipedia.org/wiki/World_population'

In [14]:
tables = pd.read_html(url)

In [17]:
# show the number of table
len(tables)

26

* The first table

In [ ]:
# the first table
tables[0]

In [21]:
# show the level of column
tables[0].columns

MultiIndex([('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...)],
           )

In [28]:
# first level of table
tables[0]['World population (millions, UN estimates)[15]']

,#,Top ten most populous countries,2000,2015,2030[A]
0,1,China[B],1270,1376,1416
1,2,India,1053,1311,1528
2,3,United States,283,322,356
3,4,Indonesia,212,258,295
4,5,Pakistan,136,208,245
5,6,Brazil,176,206,228
6,7,Nigeria,123,182,263
7,8,Bangladesh,131,161,186
8,9,Russia,146,146,149
9,10,Mexico,103,127,148
10,NaN,World total,6127,7349,8501
11,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [22]:
# clean the first level of column
world_topten = tables[0]

In [25]:
# replace the first level of column by the following level
world_topten = world_topten['World population (millions, UN estimates)[15]']

In [30]:
world_topten

,#,Top ten most populous countries,2000,2015,2030[A]
0,1,China[B],1270,1376,1416
1,2,India,1053,1311,1528
2,3,United States,283,322,356
3,4,Indonesia,212,258,295
4,5,Pakistan,136,208,245
5,6,Brazil,176,206,228
6,7,Nigeria,123,182,263
7,8,Bangladesh,131,161,186
8,9,Russia,146,146,149
9,10,Mexico,103,127,148
10,NaN,World total,6127,7349,8501
11,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [31]:
world_topten.columns

Index(['#', 'Top ten most populous countries', '2000', '2015', '2030[A]'], dtype='object')

In [36]:
# drop the row
# labels : single label or list like
# axis: {0 or ‘index’, 1 or ‘columns’}, default 0
world_topten.drop(labels='#', axis=1, inplace=True)

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [37]:
world_topten.columns

Index(['Top ten most populous countries', '2000', '2015', '2030[A]'], dtype='object')

In [38]:
# change the column name
world_topten.columns = ['Country', '2000', '2015', '2030 Est.']

In [39]:
world_topten

,Country,2000,2015,2030 Est.
0,China[B],1270,1376,1416
1,India,1053,1311,1528
2,United States,283,322,356
3,Indonesia,212,258,295
4,Pakistan,136,208,245
5,Brazil,176,206,228
6,Nigeria,123,182,263
7,Bangladesh,131,161,186
8,Russia,146,146,149
9,Mexico,103,127,148
10,World total,6127,7349,8501
11,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

* The fifth table

In [40]:
tables[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171940000     143998              1194
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17670000      41526               426
9    10       Israel     9450000      22072               428

In [41]:
# Set rank columns as index
tables[5].set_index('Rank')

          Country  Population  Area(km2)  Density(pop/km2)
Rank
1       Singapore     5704000        710              8033
2      Bangladesh   171940000     143998              1194
3       Palestine     5266785       6020               847
4         Lebanon     6856000      10452               656
5          Taiwan    23604000      36193               652
6     South Korea    51781000      99538               520
7          Rwanda    12374000      26338               470
8           Haiti    11578000      27065               428
9     Netherlands    17670000      41526               426
10         Israel     9450000      22072               428

In [43]:
# Save the data
# index = True => save the index
world_topten.to_html('sample_table_1.html', index=True)

# Data Input and Output Excel Files

In [44]:
import pandas as pd

In [ ]:
# open follow the sheet name