In [62]:
import pandas as pd
import numpy as np

In [63]:
hotels = pd.read_csv(r'C:\Users\admin\Desktop\Data Science\Course-2021\03-Pandas\hotel_booking_data.csv')

In [64]:
hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [65]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

# How many row are there?

In [66]:
hotels.count(axis=0)[0]

119390

In [67]:
len(hotels)

119390

In [68]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

# TASK: Is there any missing data? If so, which column has the most missing data?

In [69]:
# 1st solution
hotels.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [70]:
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

# TASK: Drop the "company" column from the dataset.

In [71]:
hotels = hotels.drop(labels='company', axis=1)

# TASK: What are the top 5 most common country codes in the dataset?

In [72]:
# the first way - the recommend way
hotels['country'].value_counts(ascending=False).head(5)

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

In [73]:
# the second way - use the group up
hotels.groupby('country').count().sort_values(by='hotel',ascending=False)['hotel'][:5]

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: hotel, dtype: int64

# TASK: What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?

In [74]:
# the first solution
hotels.iloc[hotels['adr'].idxmax()][['name', 'adr']]

name    Daniel Walter
adr            5400.0
Name: 48515, dtype: object

In [75]:
# the second solution
# pass the table
hotels.sort_values('adr', ascending=False)[['adr', 'name']]

            adr            name
48515   5400.00   Daniel Walter
111403   510.00     Jesus Mason
15083    508.00  Samuel Hammond
103912   451.50  Jessica Morris
13142    450.00       Amy Banks
...         ...             ...
110204     0.00    Ashley Lewis
13973      0.00     Yvonne Pena
90028      0.00    Kayla Reilly
0          0.00   Ernest Barnes
14969     -6.38    Chase Santos

[119390 rows x 2 columns]

In [76]:
# pass the specific value
# pass to the first value
hotels.sort_values(by='adr', ascending=False)[['adr','name']].iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

# TASK: The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?

In [77]:
# could use the python function
round(hotels['adr'].mean(), 2)

101.83

# TASK: What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.

In [78]:
# First way
# using the normal adding
hotels['nights'] = hotels['stays_in_week_nights'] + hotels['stays_in_weekend_nights']

In [79]:
round(hotels['nights'].mean(), 2)

3.43

In [80]:
# Second way
# using the loc
hotels.loc[:,'nights_1'] = hotels.loc[:,'stays_in_week_nights'].add(hotels.loc[:,'stays_in_weekend_nights'])

In [81]:
round(hotels['nights_1'].mean(), 2)

3.43

# TASK: What is the average total cost for a stay in the dataset? Not average daily cost, but total stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points

In [82]:
average_total_cost = (hotels.loc[:,'adr'] * hotels.loc[:,'nights_1']).mean()

In [83]:
round(average_total_cost, 2)

357.85

# TASK: What are the names and emails of people who made exactly 5 "Special Requests"?

In [84]:
hotels[hotels['total_of_special_requests'] == 5][['name', 'email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

# TASK: What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)

In [85]:
# the first solution - the better solution
# get the unique value
hotels['is_repeated_guest'].unique()

array([0, 1], dtype=int64)

In [86]:
# get the sum of repeated value
round(100 *sum(hotels['is_repeated_guest'] == 1)/len(hotels),2)

3.19

In [87]:
# the second solution
round(hotels['is_repeated_guest'].mean() * 100, 2)

3.19

# TASK: What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)

In [88]:
# the first solution
# use the -1 to access the final element of list
hotels['name'].apply(lambda name: name.split(' ')[-1]).value_counts().head(5)

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

In [89]:
# the second solution
def last_name(name):
    name = name.split()[-1]
    return name

In [90]:
hotels['name'].apply(last_name).value_counts()[:5]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

# TASK: What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation

In [91]:
# first way
hotels['total_kids_1'] = hotels['babies'] + hotels['children']

In [92]:
hotels.sort_values(by='total_kids_1', ascending=False)[['name', 'adults', 'total_kids_1', 'babies', 'children']][:3]

                  name  adults  total_kids_1  babies  children
328      Jamie Ramirez       2          10.0       0      10.0
46619  Nicholas Parker       2          10.0      10       0.0
78656    Marc Robinson       1           9.0       9       0.0

In [93]:
# second way
hotels.loc[:,'total_kids'] = hotels.loc[:,'babies'].add(hotels.loc[:,'children'])

In [94]:
hotels.nlargest(3 ,columns=['total_kids'])[['name', 'adults', 'total_kids', 'babies', 'children']]

                  name  adults  total_kids  babies  children
328      Jamie Ramirez       2        10.0       0      10.0
46619  Nicholas Parker       2        10.0      10       0.0
78656    Marc Robinson       1         9.0       9       0.0

# TASK: What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)

In [95]:
hotels['phone-number'].apply(lambda digit: digit[0:3]).value_counts().head(3)

799    168
185    167
541    166
Name: phone-number, dtype: int64

# TASK: How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?

In [96]:
# the first way
hotels['arrival_date_day_of_month']. apply(lambda day: day in range(1,16)).sum()

58152

In [97]:
# the second way
hotels[['arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month']]

       arrival_date_month  arrival_date_week_number  arrival_date_day_of_month
0                    July                        27                          1
1                    July                        27                          1
2                    July                        27                          1
3                    July                        27                          1
4                    July                        27                          1
...                   ...                       ...                        ...
119385             August                        35                         30
119386             August                        35                         31
119387             August                        35                         31
119388             August                        35                         31
119389             August                        35                         29

[119390 rows x 3 columns]

In [98]:
len(hotels[hotels['arrival_date_day_of_month'].between(left=0, right=15, inclusive=True)])

C:\Users\admin\AppData\Local\Temp/ipykernel_10684/76762860.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  len(hotels[hotels['arrival_date_day_of_month'].between(left=0, right=15, inclusive=True)])

58152

#  HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)

In [99]:
import numpy as np
import pandas as pd

In [100]:
# first solution
def convert(date, month, year):
    tranfer = f'{date}-{month}-{year}'
    return tranfer

In [101]:
hotels['date']  = np.vectorize(convert)(hotels['arrival_date_day_of_month'],
                                         hotels['arrival_date_month'],
                                         hotels['arrival_date_year'])

In [102]:
# the type of the date column is object
hotels['date']

0            1-July-2015
1            1-July-2015
2            1-July-2015
3            1-July-2015
4            1-July-2015
               ...
119385    30-August-2017
119386    31-August-2017
119387    31-August-2017
119388    31-August-2017
119389    29-August-2017
Name: date, Length: 119390, dtype: object

In [103]:
# transfer the date column from object to datetime64
hotels['transfer'] = pd.to_datetime(hotels['date'])

In [104]:
hotels['transfer']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: transfer, Length: 119390, dtype: datetime64[ns]

In [105]:
hotels['transfer'].dt.day_name().value_counts()

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: transfer, dtype: int64

In [106]:
# second solution
def convert(date, month, year):
    return f'{date}-{month}-{year}'

In [107]:
# hotels.insert(loc=0, column='date_1', value=len(hotels))

In [108]:
hotels['date_2'] = hotels[['arrival_date_day_of_month',
                           'arrival_date_month',
                           'arrival_date_year']].apply(lambda hotels: convert(hotels['arrival_date_day_of_month'],
                                                                              hotels['arrival_date_month'],
                                                                              hotels['arrival_date_year']), axis=1)

In [109]:
# third solution
def convert_1(hotel):
    return "{}-{}-{}".format(hotel['arrival_date_day_of_month'],
                             hotel['arrival_date_month'],
                             hotel['arrival_date_year'])

In [110]:
hotels['date_1'] = hotels.apply(func=convert_1, axis=1)

In [113]:
hotels['date_1'] = pd.to_datetime(arg=hotels['date_1'], format="%d-%B-%Y")

In [115]:
hotels['date_1'].dt.day_name().value_counts()

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date_1, dtype: int64