In [1]:
import pandas as pd
import numpy as np

In [3]:
# Registration
registration = pd.DataFrame(data={'reg_id':[1,2,3,4],
                                  'name':['Andrew','Bobo','Clarie','David']})
# Login
logins = pd.DataFrame(data={'log_id': [1,2,3,4],
                            'name':['Xavier','Andrew','Yolanda','Bobo']})

In [4]:
registration

   reg_id    name
0       1  Andrew
1       2    Bobo
2       3  Clarie
3       4   David

In [5]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [6]:
pd.merge(left=registration, right=logins, how='inner', on='name')

   reg_id    name  log_id
0       1  Andrew       2
1       2    Bobo       4

In [7]:
pd.merge(left=registration, right=logins, how='left', on='name')

   reg_id    name  log_id
0       1  Andrew     2.0
1       2    Bobo     4.0
2       3  Clarie     NaN
3       4   David     NaN

In [8]:
pd.merge(left=registration, right=logins, how='outer', on='name')

   reg_id     name  log_id
0     1.0   Andrew     2.0
1     2.0     Bobo     4.0
2     3.0   Clarie     NaN
3     4.0    David     NaN
4     NaN   Xavier     1.0
5     NaN  Yolanda     3.0